@model UPFleet.ViewModels.UPFleetViewModel

@{
    ViewData["Title"] = "Index";
}

@section CustomCSS{
    <style>
        input.form-control {
            font-size: 12px;
        }

        select.form-control {
            font-size: 12px;
        }

    </style>
}

<div class="container mt-lg-1">
    <div class="row">
        <div class="col-sm-12" style="padding: 0px">
            <ul class="nav nav-tabs mb-3">
                <li class="nav-item">
                    <a href="#home" class="nav-link active" data-bs-toggle="tab">Transaction</a>
                </li>
                <li class="nav-item">
                    <a href="#profile" class="nav-link" data-bs-toggle="tab">Report</a>
                </li>
                <li class="nav-item">
                    <a href="#messages" class="nav-link" data-bs-toggle="tab">Maintenance</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home">
                    <div id="transfersGrid" class="row">
                        <div class="col-sm-12 table-responsive">
                            @if (Model.Transactionslist!= null)
                            {
                                <h4>Transactions</h4>
                                <div>
                                    @Html.Partial("_TransfersGrid", Model.Transactionslist)
                                </div>
                            }
                            else
                            {
                                <h4>No Transactions/Transfers for this Barge..</h4>
                            }
                        </div>
                    </div>
                    <div class="border-1 row">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Barge</label>
                                    <select id="bargeDropdown" class="form-control" disabled="true">
                                        @foreach (var barge in ViewBag.BargeList)
                                        {
                                            <option value="@barge.Barge_Name" selected="@(barge.Barge_Name == Model.Barge?.Barge_Name)">@barge.Barge_Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select id="statusDropdown" class="form-control form-select">
                                        <option value="In" selected="@(Model?.Transaction?.Status == "In")">In</option>
                                        <option value="Out" selected="@(Model?.Transaction?.Status == "Out")">Out</option>
                                        <option value="Last switched" selected="@(Model?.Transaction?.Status == "Last switched")">Last switched</option>
                                        <option value="To Bill" selected="@(Model?.Transaction?.Status == "To Bill")">To Bill</option>
                                        <option value="Billed" selected="@(Model?.Transaction?.Status == "Billed")">Billed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Rate (In $)</label>
                                    @{
                                        var rateToUse = Model?.Transaction?.Rate ?? Model?.Barge?.Rate;
                                    }
                                    <input id="rateInput" type="text" class="form-control" value="@rateToUse">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Owner</label>
                                    <input id="ownerInput" type="text" class="form-control" value="@Model.Barge.Owner" readonly>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label>Transaction #</label>
                                    @{
                                        string transactionNo = Model?.Transaction?.TransactionNo.ToString() ?? "";
                                    }
                                    <input id="transactionInput" type="text" class="form-control" value="@transactionNo" readonly>
                                </div>
                            </div>

                            <div class="col-sm-2 Btn-grp">
                                <div class="form-group">
                                    <div class="d-flex-block">
                                        <a id="addTransactionButton" class="btn btn-outline" title="Add New Transaction">
                                            <img src="~/wwwroot/image/add-button.png"alt="Add New Transaction">
                                        </a>
                                        <a id="Cancelbtn" style="display: none;" class="btn btn-outline" title="Cancel Transaction">
                                            <img src="~/wwwroot/image/cross.png" alt="Cancel Transaction">
                                        </a>
                                        <a id="deleteButton" class="btn btn-outline" title="Delete This Transaction">
                                            <img src="~/wwwroot/image/bin.png" alt="Delete This Transaction">
                                        </a>
                                        <a id="updateButton" class="btn btn-outline" title="Update Transaction">
                                            <img src="~/wwwroot/image/loop.png" alt="Update Transaction">
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <form id="transferForm" method="post" action="@Url.Action("SaveTransfers", "Maintenance")">
                            <h4>Transfers</h4>
                            <hr />
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table id="dynamicTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="w-10">From Location</th>
                                                <th class="w-10">To Location</th>
                                                <th class="w-10">From Date</th>
                                                <th class="w-10">To Date</th>
                                                <th>Status</th>
                                                <th class="text-nowrap">Fleet Days</th>
                                                <th class="w-10 text-nowrap">Insurance From Date</th>
                                                <th class="text-nowrap">Insurance Days</th>
                                                <th class="text-nowrap"><a id="addRowButton" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Row</a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.TransferList != null)
                                            {
                                                for (int i = 0; i < Model.TransferList.Count; i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <select id="Fromlocationdropdown" name="transferlist[@i].Transfer.LocationFrom" class="form-control form-select">
                                                                @foreach (var items in ViewBag.location)
                                                                {
                                                                    <option value="@items.Id" selected="@(Model.TransferList[i].LocationFrom==items.Id)">@items.LocationName</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select id="Tolocationdropdown" name="transferlist[@i].Transfer.LocationTo" class="form-control form-select">
                                                                @foreach (var items in ViewBag.location)
                                                                {
                                                                    <option value="@items.Id" selected="@(Model.TransferList[i].LocationTo==items.Id)">@items.LocationName</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input name="transferlist[@i].Transfer.From" type="datetime-local" class="form-control" value="@string.Format("{0:yyyy-MM-ddTHH:mm}", Model.TransferList[i].From)" />
                                                        </td>
                                                        <td>
                                                            <input name="transferlist[@i].Transfer.To" type="datetime-local" class="form-control" value="@string.Format("{0:yyyy-MM-ddTHH:mm}", Model.TransferList[i].To)" />
                                                        </td>
                                                        <td>
                                                            <select id="statusDropdown_2" name="transferlist[@i].Transfer.Status" class="form-control form-select">
                                                                <option value="In" selected="@(Model.TransferList[i].Status == "In")">In</option>
                                                                <option value="Out" selected="@(Model.TransferList[i].Status == "Out")">Out</option>
                                                                <option value="Last switched" selected="@(Model.TransferList[i].Status == "Last switched")">Last switched</option>
                                                                <option value="To Bill" selected="@(Model.TransferList[i].Status == "To Bill")">To Bill</option>
                                                                <option value="Billed" selected="@(Model.TransferList[i].Status == "Billed")">Billed</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input disabled name="transferlist[@i].Transfer.DaysIn" class="form-control" value="@Model.TransferList[i].DaysIn" />
                                                        </td>
                                                        <td>
                                                            <input name="transferlist[@i].Transfer.FromIns" type="datetime-local" class="form-control" value="@Model.TransferList[i].FromIns" />
                                                        </td>
                                                        <td>
                                                            <input disabled name="transferlist[@i].Transfer.InsuranceDays" class="form-control" value="@Model.TransferList[i].InsuranceDays" />
                                                        </td>
                                                        <td>
                                                            <input type="hidden" name="transferlist[@i].Transfer.ID" value="@Model.TransferList[i].ID" />
                                                            <input type="hidden" name="transferlist[0].Transfer.transaction" value="@Model.TransferList[0].TransferNO" />
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        <select as id="Fromlocationdropdown" name="transferlist[0].Transfer.LocationFrom" class="form-control form-select">
                                                            @foreach (var items in ViewBag.location)
                                                            {
                                                                <option value="@items.Id">@items.LocationName</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select as id="Tolocationdropdown" name="transferlist[0].Transfer.LocationTo" class="form-control form-select">
                                                            @foreach (var items in ViewBag.location)
                                                            {
                                                                <option value="@items.Id">@items.LocationName</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input name="transferlist[0].Transfer.From" type="datetime-local" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input name="transferlist[0].Transfer.To" type="datetime-local" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <select id="statusDropdown_2" name="transferlist[0].Transfer.Status" class="form-control form-select">
                                                            <option value="In">In</option>
                                                            <option value="Out">Out</option>
                                                            <option value="Last switched">Last switched</option>
                                                            <option value="To Bill">To Bill</option>
                                                            <option value="Billed">Billed</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input disabled name="transferlist[0].Transfer.DaysIn" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input name="transferlist[0].Transfer.FromIns" type="datetime-local" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input disabled name="transferlist[0].Transfer.InsuranceDays" class="form-control" />
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr class="card-action-control">
                                                <td colspan="7"><button id="savetransfer" style="display: none;" type="submit" class="btn btn-outline-success float-end">Save Transfers</button></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>



                @*Reports*@
                <div class="tab-pane fade" id="profile">
                    <div class="container-fluid">
                        <div class="row" style="align-items:center">
                            <div class="col-sm-3">
                                <div class="form-group mt-3 report-btn">
                                    <a href="@Url.Action("Owner_reports","Reports")" class="btn report-btn-primary">Owner Report</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group mt-3 report-btn">
                                    <a href="@Url.Action("Barge_By_Owner","Reports")" class="btn report-btn-primary">Barges By Owner</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group mt-3 report-btn">
                                    <a href="@Url.Action("TransferSummary","Reports")" class="btn report-btn-primary">Preview/Print Transfer</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group mt-3 report-btn">
                                    <a href="@Url.Action("PreviewToExport_Page","Reports")"  id="previewButton"  class="btn report-btn-primary">Preview to Export Transaction</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group mt-3 mb-3 report-btn">
                                    <a href="@Url.Action("Not_Billed_TransferSummary_reportpage","Reports")" class="btn report-btn-primary ">Not Billed Transfer By Transaction</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group mt-3 mb-3 report-btn">
                                    <a href="@Url.Action("Billed_TransferSummary_reportpage","Reports")" class="btn report-btn-primary">Billed Transfer By Transaction</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group transfer-btn">
                                    <a href="@Url.Action("View_Exported_Archive","Reports")" class="btn transfer-btn-primary mt-2">View Exported Archive</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group transfer-btn">
                                    <a href="@Url.Action("Transfer_Details","Reports")" class="btn transfer-btn-primary mt-2">Transfer Detail-Table View</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div class="form-group mt-2 add-barges" style="width: 150px">
                        <a href="@Url.Action("BargeUpdate", "Maintenance", new { id = 1})" class="btn btn-primary">Add/Edit Barges</a><br />
                        <a href="@Url.Action("OwnerUpdate", "Maintenance", new { id = 1})" class="btn btn-primary mt-2">Add/Edit Owners</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/wwwroot/js/jsindexpage.js"></script>
}